<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000" style="background: url('img/immo1.jpg');background-size: cover">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>Paris</h1>
                    <p>Paris est la commune la plus peuplée et la capitale de la France..</p>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-interval="10000" style="background: url('img/immo2.jpg');background-size: cover">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Bordeaux.</h1>
                    <p>Bordeaux est une commune du Sud-Ouest de la France.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-interval="10000" style="background: url('img/immo3.jpg');background-size: cover">
            <div class="container">
                <div class="carousel-caption text-right">
                    <h1>Lyon</h1>
                    <p>Lyon est une commune française située dans le quart sud-est de la France, au confluent du Rhône et de la Saône.</p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
