<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="http://localhost:4000/" title="Accueil"><i class="bi bi-house-fill"></i> Agence</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:4000/agence/annonces" title="Gérer les annonces"><i class="bi bi-gear-wide-connected"></i> Gérer les annonces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4000/ajouter-annonce" title="Ajouter une annonce"><i class="bi bi-plus-circle"></i> Ajouter une annonce</a>
            </li>
        </ul>
    </div>
</nav>